html {
    box-sizing: border-box;
}

*, *::before,*::after {
    box-sizing: inherit;
    
}

body {
    font-family: "Playfair Display", sans-serif;
    color: #626262;
   
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.page-navigation {
    text-align: center;
    margin: 77px auto 105px auto;
    color: #777777;
}

.page-navigation-item {
    display: inline-block;
}

nav li:not(:last-child) {
    margin-right: 60px;
}

.page-navigation-item:hover,
.page-navigation-item a:focus {
    color:blue;
}
/* 
.page-navigation-item:hover {
    color:blue;
} */

.container {
    width: 901px;
    margin: 0 auto;
}

.article-item {
    width: 421px;
    display: inline-block;
}

ul {
    padding:0;
}

.article-item:nth-child(2n) {
    margin-left: 55px;
}

.article-list-item {
    padding-top: 28px;
    font-size: 14px;
}

.article-text-item {
    padding-top:33px;
    text-align: justify;
    margin-bottom: 132px;
    line-height: 24px;
}

/* .article-text-item:nth-last-child(-n+2) {
    margin-bottom:0;
} */

.article-tags {
    text-transform: uppercase;
    color: #bdb7aa;
    font-family: "Ubuntu";
}

.insp-text {
    font-size: 30px;
}

p {
    /* margin-block-start: 100em;
    margin-block-end: 0; */
    margin:0;
    padding:0;
}

li {
    list-style: none;
}

button {
    height: 60px;
    width: 164px;
    font-size: 20px;
    display: block;
    margin: 0 369px 70px 369px;
    font-family: inherit;
    background-color: white;
    border-color: #626262;
}