html {
    box-sizing: border-box;
}

*, *::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display", sans-serif;
    color: #626262;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.page-navigation {
    text-align: center;
    margin: 77px auto 105px auto;
}

.page-navigation-item {
    display: inline-block;
}

nav li:not(:last-child) {
    margin-right: 60px;
}

.page-navigation-item a:focus {
    color:blue;
}

.page-navigation-item:hover {
    color:blue;
}

/* nav {
    text-align: center;
    margin: 77px auto 75px auto;
} */

.container {
    width: 901px;
    margin: 0 auto;
}

.article-item {
    width: 421px;
    display: inline-block;
    margin:0;
}

ul {
    padding:0;
}

.article-item:nth-child(2n) {
    margin-left: 55px;
}

.article-list-item {
    padding-top: 28px;
    font-size: 14px;
}

.article-text-item {
    padding-top:33px;
}

p {
    margin:0;
    text-transform: uppercase;
    color: #bdb7aa;
}

h1 {
    margin: 0;
}

li {
    list-style: none;
}

/* nav li {
    display: inline-block;
} */

/* nav li:hover, nav:li:focus {
    color:blue
} */

/* article {
    display: inline-block;
    margin-left: 165px;
} */

button {
    height: 60px;
    width: 164px;
    font-size: 20px;
    display: block;
    margin-top: 60px;
    margin-left: 45%;
    font-family: inherit;
    background-color: white;
    border-color: #626262;
}